body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-numeric-input {
  position: absolute;
  font-size: 14px;
  color: #4a4a4a;
  width: 45px;
  height: 36px;
  background-image: linear-gradient(-180deg, #f2f2f2 0%, #d4d4d4 100%);
  border: 1px solid #979797;
  box-shadow: 0 1px 2px 0;
  padding-left: 8px;
}
.react-numeric-input > input[type="text"] {
  outline: none;
  border: none !important;
  background: transparent;
  padding-top: 10px;
  width: 60px;
}
span > b {
  border-style: none !important;
  background: none !important;
  box-shadow: none !important;
}
span > b:nth-of-type(1) > i {
  top: 65% !important;
  left: 40% !important;
  border-width: 0px 0.8ex 0.8ex !important;
}
span > b:nth-of-type(2) > i {
  top: 40% !important;
  left: 40% !important;
  border-width: 0.8ex 0.8ex 0px !important;
}

.custom-ui {
  text-align: center;
  width: 400px;
  height: 250px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.custom-ui > div {
  margin-top: 10px;
  margin-bottom: 36px;
  font-size: 24px;
  color: #2a3842;
}
.custom-ui > p {
  font-size: 16px;
  color: #2a3842;
  letter-spacing: -0.1px;
  line-height: 16px;
}
.custom-ui > button {
  width: 120px;
  padding: 10px;
  margin: 10px;
  border: none;
  margin-bottom: 1px;
  margin-top: 86px;
  cursor: pointer;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: #2a3842;
  letter-spacing: -0.11px;
}
.react-confirm-alert-overlay {
  background: none !important;
}

.row-container .hidden {
  visibility: hidden;
}
.row-container:hover .hidden {
  visibility: visible;
}
.invalid {
  color: red;
  font-size: 14px;
  margin-top: -30px;
  padding-bottom: 40px;
}
